<html>
<head>
<title> Send</title>

<meta http-equiv="refresh" content="120;url=pp" />
<title>send
</title>{% load static %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/pre.css' %}">

</head>
  <body bgcolor="lightyellow">
{% load static %}
    <div class="loader">
      <img src="{% static 'img/load-gif.gif' %}" alt="">
    </div>
    <div class="img">

{% include "header.html" %}
<center>
<img src="{% static 'img/OIP-removebg-preview.png' %}" width="86" height="60">
</center>
<br><br><br>
<form method="post" style="margin:auto; width:380px; padding:35px;background-color:white;" align="midle">
{% csrf_token %}
security:<input name="xyz" size="30" required>

<input type="submit" class="button">
  
</form>
 <script src="{% static 'js/pre.js' %}" charset="utf-8"></script>
</body>
</html>